In [1]:
name = input("enter your name:")
print ("welcome", name)

enter your name:Abhimanyu
welcome Abhimanyu

In [2]:
name = input("enter your name:")
age = input("enter your age:")
print("hello," , name , "you are", age , "years old.")

enter your name:Abhimanyu
enter your age:25
hello, Abhimanyu you are 25 years old.

In [3]:
name = "Abhimanyu"
age = "25"
print(f"""Hello, my name is {name} and i am {age} years old""")

Hello, my name is Abhimanyu and i am 25 years old

In [4]:
name= input("enter your name:")
age= input("enter your age")
print ("welcome",name,"you are very enthusiastic person and you are",age , "years old.")

enter your name:Abhimanyu
enter your age25
welcome Abhimanyu you are very enthusiastic person and you are 25 years old.

In [6]:
a=1
print(bool(a))
print(float(a))
print(int(a))
print(str(a))

True
1.0
1
1

In [8]:
a=2.35
print(int(a),
float(a),
bool(a),
str(a),)
str(a)

2 2.35 True 2.35

'2.35'

In [9]:
a=3.56
print(float(int(a)))

3.0

In [10]:
#arithmatical operations
a=23
b=2
print("addition=",a+b, "Subtaction=" , a-b, "multiplication=",a*b, "division=",a/b)
print("floor division=",a//b, "reminder or modulus =",a%b,"exponential=",a**b)

addition= 25 Subtaction= 21 multiplication= 46 division= 11.5
floor division= 11 reminder or modulus = 1 exponential= 529

In [12]:
name="ABCDEFGHIJKL"
print(len(name), name[0], name[3], name[-5])
print(name[0:4])
print(name[::2])

12 A D H
ABCD
ACEGIK

In [13]:
float("1")

1.0

In [14]:
int(True)

1

In [15]:
float(False)

0.0

In [16]:
bool(1)

True

In [17]:
bool(0)

False

In [18]:
bool(2)

True

In [19]:
str(132)

'132'

In [20]:
a=1
print(bool(a))
print(float(a))
print(int(a))
print(str(a))

True
1.0
1
1

In [21]:
a=2.35
print(int(a), float(a), bool(a), str(a))

2 2.35 True 2.35

In [22]:
a=3.56
print(float(int(a)))

3.0

In [23]:
#arithmatical operations
a=23
b=2
print("addition =",a+b) 
print("Subtaction =",a-b)
print("multiplication =",a*b)
print("division =",a/b)
print("floor division =",a//b, "reminder/modulus =",a%b,"exponential =",a**b)

addition = 25
Subtaction = 21
multiplication = 46
division = 11.5
floor division = 11 reminder/modulus = 1 exponential = 529

In [24]:
name="ABCDEFGHIJKL"
print(len(name))
print(name[0])
print(name[3])
print(name[-5])
print(name[0:4])

12
A
D
H
ABCD

In [25]:
name="ASDFGHJKL"
print(name[1],name[3],name[5],name[7])
print(name[1::2],end=' ')

S F H K
SFHK

In [26]:
name="naam vijay chohan, vijay dinanath chohan pura naam, gaav mandwa"
pura_naam= name[19:-23]
gaav= name[-6:-1]
print(f"""full name: {pura_naam}
adress: {gaav}""")

full name: vijay dinanath chohan
adress: mandw

In [27]:
name="naam vijay chohan, vijay dinanath chohan pura naam, gaav mandwa"
bpn= name[24:40]
print(bpn)

 dinanath chohan

In [29]:
batch= "5 girls and 3 boys are in a class"
girls= batch[ :7]
boys= batch[12:-15]
print (girls)
print (boys)

5 girls
3 boys

In [30]:
statment="ram and sham are good frinds"
print("ram" in statment)
print("sham" not in statment)
print("david" in statment)

True
False
False

In [31]:
statment="ram and sham are good frinds "
print(statment*2)

ram and sham are good frinds ram and sham are good frinds

In [32]:
statment="ram and sham are good frinds"
print(statment.upper())

RAM AND SHAM ARE GOOD FRINDS

In [33]:
statment= "RAM AND SHAM ARE GOOD FRINDS"
print(statment.lower())

ram and sham are good frinds

In [37]:
x="    RAM AND SHAM ARE GOOD FRINDS   "
print(x.lower())
print(x.lstrip())
print(x.rstrip())
print(x.strip())

    ram and sham are good frinds
RAM AND SHAM ARE GOOD FRINDS
    RAM AND SHAM ARE GOOD FRINDS
RAM AND SHAM ARE GOOD FRINDS

In [38]:
increament="4%%%%"
print(increament.rstrip("%"))

4

In [39]:
x= "#####21654984******"
print(x.lstrip("#").rstrip("*"))
len(x)

21654984

19

In [40]:
z="ram and sham are good frinds"
print(z.count("a"))
print(z.count("a",5))

4
2

In [2]:
age= 30
my_age= "i am {0} years old".format(age)

In [3]:
my_age

'i am 30 years old'

In [4]:
age = 25
my_age

'i am 30 years old'

In [7]:
A="when frequency of the body"
B="natural frequency matches"
C="then resonance happeneds"
print("{0} and {1}, {2}".format(A,B,C))

when frequency of the body and natural frequency matches, then resonance happeneds

In [8]:
str(12355)

'12355'

In [1]:
d="4%"
print(d.rstrip("%"))

4